<div class="encabezado">
  <div class="container">

  </div>
  <nav class="navbar">
    <div class="container">
      <a href="/" class="navbar-brand">
        <i class="fa fa-video-camera" aria-hidden="true"></i> Mi canal de video
      </a>
      
      <ul class="nav navbar-nav">
        <li><a [routerLink] = "['/lista-videos']" routerLinkActive = "activado">Lista de Videos</a></li>
        <li><a [routerLink] = "['/video-player']" routerLinkActive = "activado">Video Player</a></li>
      </ul>

    </div>
  </nav>
</div>